{% extends 'core/base.html' %}
{% load static %}
{% block title %}Write the new password{% endblock %}
{% block content %}
<style>.errorlist{color:red;}</style>
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto mb-5">
        {% if validlink %}
          <form action="" method="post">{% csrf_token %}
            <h3 class="mb-4">New password</h3>
            <p>Choose a password and write the confimration</p>
            {{form.new_password1.errors}}
            <p><input type="password" name="new_password1" required="" id="id_new_password1" class="form-control" placeholder="New password"></p>
            {{form.new_password2.errors}}
            <p><input type="password" name="new_password2" required="" id="id_new_password2" class="form-control" placeholder="Repeat password"></p>
            <p><input type="submit" class="btn btn-primary btn-block" value="Cambiar mi contraseña"></p>
          </form>
        {% else %}
          <h3 class="mb-4">Password not update corectly</h3>
          <p>Please use antoher password or write the same one in the confirmation one <a href="{% url 'password_reset' %}">here</a>.</p>
        {% endif %}
      </div>
    </div>
  </div>
</main>
{% endblock %}